$primary : #b39ddb;
$secondary : #836fa9;
$tier : #e6ceff;

.form-container {
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    .form{
        display: flex;
        justify-content: space-between;
        input{
            height: 30px;
            width: 400px;
            margin-right: 20px;
            text-align: center;
            border-radius: 10px;
            border: none;
        }
        select{
            border-radius: 10px;
            border: none;
            width: 150px;
            text-align: center;
            option{
                background-color: $tier;
            }
        }
        button{
            width: 150px;
            margin-left: 20px;
        }
        #add-btn, #reset-btn{
            background-color: $secondary;
            color: $tier;
            border: 2px solid $tier;
            border-radius: 10px;
            &:hover{
                background-color: $tier;
                color: $secondary;
                border-color: $secondary;
            }
        }
    }
}