$primary : #b39ddb;
$secondary : #836fa9;
$tier : #e6ceff;

.form-container {
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    .form{
        display: flex;
        justify-content: space-between;
        input{
            height: 30px;
            width: 400px;
            margin-right: 20px;
            text-align: center;
        }
        button{
            width: 150px;
            margin-left: 20px;
        }
    }
}