.task{
    position: relative;
    border: 2px solid black;
    height: 200px;
    width: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 10px 10px 30px black;
    margin: 30px;
    padding: 10px;
    text-align: justify;
    .close-btn{
        position: absolute;
        right: 10px;
        top: 10px;
        width: 20px;
        height: 20px;
    }
    #checkbox{
        position: absolute;
        top: 10px;
        left: 10px;
    }
}

.user1{
    background-color: pink;
}
.user2{
    background-color: skyblue;
}
.user3{
    background-color: yellow;
}
.user4{
    background-color: greenyellow;
}

.user-name{
    position: absolute;
    top: 14px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 14px;
}

